<p id="notice"><%= notice %></p>
<h2>Your Pragmatic Cart</h2>
<ul>
<% for item in @cart.line_items %>


<li><%= item.quantity %>&times; <br/>
<%= item.home.name %>

<%= item.home.avatar %></li>




<% end %>
</ul>



<%= link_to 'Edit', edit_cart_path(@cart) %> |
<%= link_to 'Back', store_index_path %>
