<%= form_for @home,:url =>@home_new, :html => { :multipart => true } do |f| %>

<%#=input type="text" data-autocomplete="homes/autocomplete_home_name"%>

 


    <div class="control-group">
      <%= f.label :name, :class => 'control-label' %>
      <%= f.autocomplete_field :name, autocomplete_home_name_homes_path,:id_element => '#some_element'%>
      
    </div>
      <div class="control-group">
        <%= f.label :title, :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :title, :class => 'text_field' %>
        </div>
      </div>
        <div class="control-group">
          <%= f.label :avatar_updated_at, :class => 'control-label' %>
          <div class="controls">
            <%= f.datetime_select :avatar_updated_at, :class => 'datetime_select' %>
          </div>
        </div>

          <div class="field">
              <%= f.label :Image %><br />
            <%= f.file_field :avatar,:class => 'file_field' %>
          <div/>

        
  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                homes_path, :class => 'btn' %>
  </div>
<% end %>
<div/>
<div/>
