<%= form_for @home,:url =>@home_new, :html => { :multipart => true } do |f| %>
    <div class="control-group">
      <%= f.label :name, :class => 'control-label' %>
      
      <div class="controls">
        <%= f.text_field :name, :class => 'text_field' %>
      </div>
    </div>
      <div class="control-group">
        <%= f.label :title, :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :title, :class => 'text_field' %>
        </div>
      </div>
        <div class="control-group">
          <%= f.label :avatar_updated_at, :class => 'control-label' %>
          <div class="controls">
            <%= f.datetime_select :avatar_updated_at, :class => 'datetime_select' %>
          </div>
        </div>

          <div class="field">
              <%= f.label :avatar %><br />
            <%= f.file_field :avatar %>
          <div/>

<div class='well'>
  <%= f.label :Date%>
    <input type="text" data-behaviour='datepicker' >
</div>


  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                homes_path, :class => 'btn' %>
  </div>
<% end %>
